body{
    overflow-x: hidden;
}

#nav-principale {
    background-color: #000000;
    padding: 1rem 1.5rem;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: -10px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-principale ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.nav-link {
    display: block;
    color: #e8e8e8;
    text-decoration: none;
    padding: 0.4rem 0;

}

.nav-link:hover,
.nav-link:focus-visible {
    color: #7eb8f7;
    outline-color: #7eb8f7;
    scale: 1.1;
    transition: 0.2s;
}

header li,.list-sections {
     background-color: rgb(181, 255, 108); 
     color: blue;
}

a{
    color: red;
}

.footer-principale a:hover {
    color: #4ba5ff;
    scale: 1.1;
    transition: 0.2s;
}

#storia p{
    color: fuchsia;
}

#storia .blu{
    color:blue;
}

#monumenti p {
    color: blue;
}

article .evidenzia{
    background-color: rgb(129, 194, 255);
}

article a{
    color:rgb(98, 0, 255);
    background-color:beige;
}

figcaption{
    background-color: lightgray;
}

nav ul a{
    color:red;
    background-color: transparent;
}

.footer-principale {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid #e0e0e0;
    margin-top: 4rem;
    padding: 2rem 0 2rem 2rem;
    color: #ffffff;
    font-size: 0.9rem;
    background-color: black;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    text-align: center;
    margin-top: 70px;
    margin-bottom: -10px;
}

.footer-principale ul {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
}

.footer-principale p{
    padding-bottom: 15px;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}