body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.quiz{
    margin-top:20px;
    margin-bottom:20px;
}

.quiz select,.quiz input:last-of-type{
    margin-bottom: 15px;
}

.dati_anagrafici h3{
    font-weight: normal;
}

.buttons button{
    width: 100px;
    height: 35px;
}

.score{
    margin-top: 10px;
    max-width: 200px;
}

.score input{
    max-width: 110px;
}

.container-esito{
    display: flex;
    column-gap: 300px;
}

.utente-score input{
    max-width: 100px;
}
