body { 
    background: linear-gradient(135deg, #021024 0%, #041b49 100%);
    background-attachment: fixed;
    max-width: 900px;
    font-family: "nunito", sans-serif;
    margin: 40px auto; 
    overflow-x: hidden;
}

.title {
    margin: 100px 0 50px 0;
    color: #ffffff;
    text-align: center;
}

.progetti-container h1{
    color: #000000;
    margin: 20px auto 50px auto;
    width: fit-content;
    padding: 5px 55px;
}

.progetti-container{
    background-color: #90e0ef;
    background-image: radial-gradient(#000000 0.3px, transparent 0.3px);
    background-size: 5px 5px;

    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 100px; 
}

@media (max-width: 600px) {
    .progetti-container {
        grid-template-columns: 1fr;
    }
}

.cards{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 50px;
}

.card{
    display: block;
    background: rgb(255, 255, 255);
    padding: 15px;
    max-width: 40%;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
}

@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}

.card .date{
    background-color: #caf0f8;
    text-align: center;
    font-weight: bold;
    font-size: 3.6mm;
    margin-left: -15px;
    padding: 5px 0;
    margin-right: -15px;
    margin-top: -15px;
}

.card:last-child .date:before{
    content: "Più recente";
    color: rgb(0, 47, 255);
    margin-right: 15px;
}

.card button{
    background-color: #caf0f8;
    border: 3px solid black;
    padding: 10px;
    width:max-content;
}

.card p{
    font-size: 3.8mm;
}

.card a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.card button:hover{
    background-color: #90e0ef;
    box-shadow: 4px 4px 0 black;
    scale: 1.05;
    transition: 0.2s;
}
