*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5rem;
    overflow-x: hidden;
}

.container{
    margin-top: 100px;
    padding: 50px;
}

.container button:last-child{
    margin-bottom: 200px;
}