body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
}

.header{
    background-color:black;
    color: white;

    padding-top: 5px;
    padding-bottom: 15px;
    width: 105vw;
    margin-left: calc(50% - 50vw);

    border-bottom: 3px solid #1d84b5;
    animation: border-pulse 6s ease-out infinite;
}

.galleria img{
    border-radius: 25px;
    padding: 5px;
}

.liste{
    padding-top: 75px;
}

.liste ul,.liste ol{
    display: inline-block;
    text-align: left;   
}

.azioni{
    padding-top: 50px;
}

.azioni button{
    background-color: darkcyan;
    border-color: transparent;
    color: white;
    border-radius: 5px;

    width: 150px;
    height: 40px;

    margin: 0 5px;
}

.azioni button:hover{
    scale: 1.1;
    cursor: pointer;
}