body{
    background: linear-gradient(90deg,#081c15,#1b4332,#2d6a4f,#40916c,#52b788);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page{
    text-align: center;
    margin-top: 100px;
}

.title-prof{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-bottom: 25px;
}

.info{
    color: black;
    background-color: rgba(47, 171, 228, 0.95);
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

.type-prof{
    padding-top: 25px;
    font-size: 30px;
    font-weight: bold;
}

.name,
.subject,
.email,
.meet-time{
    padding-top: 18px;
    font-size: 18px;
}

.desc{
    padding-top: 20px;
    padding-bottom: 25px;
}

.buttonHome{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: rgb(240,255,250);

    width: 250px;

    border-radius: 12px;
    border: 3px solid rgb(0,120,90);

    padding: 15px;

    transition: 0.3s;
}

.buttonHome a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.buttonHome:hover{
    background-color: rgb(200,255,230);
    scale: 1.08;
    border-color: rgb(0,180,130);
}

.buttonHome:hover a{
    color: rgb(0,120,90);
}

::selection{
    background-color: rgba(132,198,255,0.5);
    color: rgb(0,133,221);
}